<div class="jumbotron {{bckimg}} color_light {{bigSmall}}">
  <div class="container">
    {{#if success}}
      {{yield}}
    {{/if}}
    {{#if (not success)}}
      {{#if introMsg}}
        <button class="btn btn-default architect" {{action "skipIntro"}}>Skip Intro</button>
        <br><br>
        <h3>{{typed-string class="element" strings=typedStrings typeSpeed=10 backSpeed=0 cursorChar="▌"}}</h3>
        <h1 id="timer"></h1>
      {{else}}
        <div class="row">
          <div class="col-xs-12 col-sm-11 col-md-10">
            <!--<p class="yan_kaff">"We provide private flights to the public at commercial prices." -
                          <b>UP</b> <span class="font_small">CEO</span>, Michael Geatz</p>-->
          </div>
        </div>
        <h3>Plan A Flight</h3>
        <hr>
        {{wizard/planning-wizard changeBackground='changeBackground'
                                 successfullyBook='successfullyBook'}}
      {{/if}}
    {{/if}}
  </div>
</div>
