<div class="jumbotron {{bckimg}} color_light">
  <div class="container">

    {{#if introMsg}}
      <h3>{{typed-string class="element" strings=typedStrings typeSpeed=10 backSpeed=0 cursorChar="▌"}}</h3>
      <br>
      <h1 id="timer"></h1>
    {{else}}
      <div class="row">
        <div class="col-xs-12 col-sm-11 col-md-10">
          <p class="yan_kaff">"We provide private flights to the public at commercial prices." -
            <b>UP</b> <span class="font_small">CEO</span>, Michael Geatz</p>
        </div>
      </div>
      <h3>Plan A Flight</h3>
      <hr>
      {{wizard/planning-wizard}}
    {{/if}}

  </div>
</div>
{{yield}}