<section class="planning_wizard row">

  <div class="col-xs-12 col-sm-8 col-md-8">
    <ol class="breadcrumb">

      {{#if step1}}
        <li class="current {{if arizona 'b_az' ''}} {{if minnesota 'b_mn' ''}}" {{action "editDetails" on="click"}}>
          <a class="btn btn-primary" style="padding-top: 32px;">DETAILS</a>
        </li>
      {{else}}
        <li>
          <a class="btn btn-primary" style="padding-top: 32px;">DETAILS</a>
        </li>
      {{/if}}

      {{#if step2}}
        <li class="current {{if arizona 'b_az' ''}} {{if minnesota 'b_mn' ''}}">
          <a class="btn btn-primary" style="padding-top: 32px;">FLIGHTS</a>
        </li>
      {{else}}
        <li>
          <a class="btn btn-primary" style="padding-top: 32px;">FLIGHTS</a>
        </li>
      {{/if}}

      {{#if step3}}
        <li class="current {{if arizona 'b_az' ''}} {{if minnesota 'b_mn' ''}}">
          <a class="btn btn-primary" style="padding-top: 32px;">BOOK IT</a>
        </li>
      {{else}}
        <li>
          <a class="btn btn-primary" style="padding-top: 32px;">BOOK IT</a>
        </li>
      {{/if}}

    </ol>

    {{!to}}
    {{#if step0}}
      <div class="fly_to">
        {{#if departFrom}}
          <div class="col-sm-6">
            <small>Origin</small>
            <br>
            <select id="origin" {{action "selectDeparture" on="change"}}>
              {{#if (not step1)}}
                <option selected>State, City</option>
              {{/if}}

              {{#if arizona}}
                <option value="az" selected>ARIZONA, Phoenix Scottsdale</option>
              {{else}}
                <option value="az" >ARIZONA, Phoenix Scottsdale</option>
              {{/if}}

              {{#if florida}}
                <option value="fl" selected>FLORIDA, Miami</option>
              {{else}}
                <option value="fl" >FLORIDA, Miami</option>
              {{/if}}

              {{#if minnesota}}
                <option value="mn" selected>MINNESOTA, Minneapolis</option>
              {{else}}
                <option value="mn" >MINNESOTA, Minneapolis</option>
              {{/if}}
            </select>
          </div>
          <div class="col-sm-6">
            {{#if minnesota}}
              <small>Destination</small>
              <br>
              <select id="destination" {{action "selectDestination" on="change"}}>
                {{#if (not step2)}}
                  <option selected>State, City</option>
                {{/if}}

                {{#if (eq destination 'ARIZONA')}}
                  <option value="az" selected>ARIZONA, Phoenix Scottsdale</option>
                {{else}}
                  <option value="az" >ARIZONA, Phoenix Scottsdale</option>
                {{/if}}

                {{#if (eq destination 'FLORIDA')}}
                  <option value="fl" selected>FLORIDA, Miami</option>
                {{else}}
                  <option value="fl" >FLORIDA, Miami</option>
                {{/if}}
              </select>
            {{/if}}
            {{#if arizona}}
              <small>Destination</small>
              <br>
              <select>
                <option value="mn">MINNESOTA, Minneapolis</option>
              </select>
            {{/if}}
            {{#if florida}}
              <small>Destination</small>
              <br>
              <select>
                <option value="mn">MINNESOTA, Minneapolis</option>
              </select>
            {{/if}}
          </div>
          <br>
          <br>
          <br>
        {{/if}}
        <div class="col-sm-12">
          <br>
          <small>Travelers</small><br>
          <select value={{numberOfTravelers}} class="numberOfTravelers"
            {{action "desiredCapacity" on="change"}}>
            <option value="1">1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
          </select>
          <i class="fas fa-arrows-alt-v hidden-sm hidden-md hidden-lg"></i>
          <br>
          <br>
        </div>
        <div class="col-sm-6">
          <small>Departing</small>
          <br>
          {{pikaday-input class="date_picker"
                          value=dateOfDeparture
                          minDate=minDate
                          format="MM/DD/YYYY"
                          onClose=(action "pickDate" "depart")
                          placeholder="MM/DD/YYYY"}}
        </div>
        <div class="col-sm-6">
          <small>Returning</small>
          <br>
          {{pikaday-input class="date_picker_return"
                          value=dateOfReturn
                          minDate=minDate
                          format="MM/DD/YYYY"
                          onClose=(action "pickDate" "return")
                          placeholder="MM/DD/YYYY"}}
        </div>
        <br>
        <br>
        {{#if dateOfDeparture}}
          <div class="col-sm-12">
            <br>
            <br>
            <div class="btn-group" role="group" aria-label="...">
              <!--<button type="button" class="btn btn-default" {{action "editDetails"}}>BACK</button>-->
              <button type="button" class="btn btn-success" {{action "findFlights"}}>SEARCH</button>
            </div>
          </div>
        {{/if}}
      </div>
    {{/if}}

    {{#if flightPicker}}
      <a class="back_to" {{action "backToDetails"}}>
        <small>← BACK TO DETAILS</small>
      </a>
      {{flight-picker departFrom=departFrom
                      numberOfTravelers=numberOfTravelers
                      dateOfDeparture=dateOfDeparture
                      dateOfReturn=dateOfReturn
                      arizona=arizona
                      minnesota=minnesota
                      flightDetails='flightDetails'}}
    {{/if}}

    {{#if bookIt}}
      <a class="back_to" {{action "backToFlights"}}>
        <small>← BACK TO FLIGHTS</small>
      </a>
      <h2>Last Step!</h2>
      If this were not a simulation, would you actually book this trip? If so, click the "Book It" button.
      <div class="container special_letter">
        <h3 class="architect">Book It</h3>
        <hr>
        <div class="row">
          <div class="col-sm-6">
            OUTBOUND Travel Route:<br>{{#if minnesota}}MINNESOTA to {{destination}}{{/if}}
            {{#if arizona}}ARIZONA to MINNESOTA{{/if}}
            {{#if florida}}FLORIDA to MINNESOTA{{/if}}<br><br>
            Total Travelers: {{numberOfTravelers}}<br><br>
            Departure Date: {{dateOfDeparture}} {{#if timeOfDeparture}}@ {{timeOfDeparture}}{{/if}}<br><br>
            Outbound Flight: {{outboundFlight}}<br>
            <small>Takeoff: {{outboundFlightTakeoff}}, Landing: {{outboundFlightLanding}}</small>
            <br>
            <small>Seats: {{#each outboundFlightSeats as |outboundseat|}}{{outboundseat}}, {{/each}}</small>
          </div>
          <div class="col-sm-6">
            {{#if dateOfReturn}}
              RETURN Travel Route:<br>{{#if minnesota}}ARIZONA to MINNESOTA{{/if}}
              {{#if arizona}}MINNESOTA to ARIZONA{{/if}}<br><br>
              Total Travelers: {{numberOfTravelers}}<br><br>
              Return Date: {{dateOfReturn}}<br><br>
              Return Flight: {{returnFlight}}<br>
              <small>Takeoff: {{returnFlightTakeoff}}, Landing: {{returnFlightLanding}}</small>
              <br>
              <small>Seats: {{#each returnFlightSeats as |returnseat|}}{{returnseat}}, {{/each}}</small>
              <br><br>
            {{/if}}
          </div>
        </div>
        {{#if totalMoney}}
          <br>
          <button class="btn btn-success architect" {{action "successfullyBook"}}>Book It</button>
          <h3 class="architect">Total $: {{totalMoney}}</h3>
        {{/if}}
      </div>
    {{/if}}
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4">
    <div class="itinerary special_letter">
      <h3>Trip Preview</h3>
      <hr>
      {{#if step1}}
        <p>
          <small>Travel Route:</small>
        </p>
        <p>{{#if minnesota}}MINNESOTA to {{destination}}{{/if}}</p>
        <p>{{#if arizona}}ARIZONA to MINNESOTA{{/if}}</p>
        <p>{{#if florida}}FLORIDA to MINNESOTA{{/if}}</p>
        <p>
          <small>Total Travelers:</small>{{numberOfTravelers}}</p>
        {{#if dateOfDeparture}}
          <p>
            <small>Departure Date:</small>{{dateOfDeparture}}</p>
          {{#if dateOfReturn}}
            <p>
              <small>Return Date:</small>{{dateOfReturn}}</p>
          {{else}}
            <small> Return Date: NONE</small>
            <br><br>
          {{/if}}
        {{/if}}
        {{#if outboundFlight}}
          <p>
            <small>Outbound Flight: {{outboundFlight}}</small>
          </p>
          <div class="col-sm-6">
            <small>Takeoff:</small>
            <p>{{outboundFlightTakeoff}}</p>
          </div>
          <div class="col-sm-6">
            <small>Landing:</small>
            <p>{{outboundFlightLanding}}</p>
          </div>
          <small style="padding: 0 0 10px 15px">Seats: {{#each outboundFlightSeats as |outboundseat|}}
            <b>{{outboundseat}}</b>, {{/each}}</small>
          <br><br>
        {{/if}}
        {{#if dateOfReturn}}
          {{#if returnFlight}}
            <p>
              <small>Return Flight: {{returnFlight}}</small>
            </p>
            <div class="col-sm-6">
              <small>Takeoff:</small>
              <p>{{returnFlightTakeoff}}</p>
            </div>
            <div class="col-sm-6">
              <small>Landing:</small>
              <p>{{returnFlightLanding}}</p>
            </div>
            <small style="padding: 0 0 10px 15px">Seats: {{#each returnFlightSeats as |returnseat|}}
              <b>{{returnseat}}</b>, {{/each}}</small>
          {{/if}}
        {{/if}}
        {{#if totalMoney}}
          <h3>Total $: {{totalMoney}}</h3>
        {{/if}}
      {{/if}}
    </div>
  </div>
</section>
